.header-menu {
    background-color: #bbbaba !important;
}
.header-menu svg {
    scale: 2.5;
    margin-bottom: 20px;
    margin-right: 5px;
}
.header-menu span {
    font-weight: normal;
}
h3 .btn {
    margin-left: 10px;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
#mytextarea, #mytextarea2 {
    resize: none;
}
#mytextarea {
    height: 230px;
}
#mytextarea2 {
    height: 40px;
}
.input-group-text {
    width: 85px;
}
.input-group {
    margin-top: 20px;
}
.main-form {
    margin-top: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.form-actions .btn {
    margin-left: 20px;
}