.header-menu {
    background-color: #bbbaba !important;
}
.header-menu svg {
    scale: 2.5;
    margin-bottom: 20px;
    margin-right: 5px;
}
.header-menu span {
    font-weight: normal;
}
h3 .btn {
    margin-left: 10px;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
small {
    text-align: center;
    display: block;
    margin-bottom: 30px;
}
.actions {
    display: flex;
    justify-content: center;
    height: 38px;
    margin-top: 20px;
}
.actions .btn {
    margin-left: 20px;
}