.header-menu {
    background-color: #bbbaba !important;
}
.header-menu svg {
    scale: 2.5;
    margin-bottom: 20px;
    margin-right: 5px;
}
.header-menu span {
    font-weight: normal;
}
h3 .btn {
    margin-left: 10px;
}
.actions {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.actions .btn {
    margin-left: 10px;
}
.article-content {
    word-wrap: break-word;
}
.by-user {
    display: block;
    margin-bottom: 5px;
}
.rating-form {
    display: inline;
    margin-top: 5px;
    height: 20px;
    margin-bottom: 5px;
}
.rating {
    margin-left: 3px;
    margin-right: 3px;
}
.rating-form .btn {
    padding: 0 5px;
}